@model Attendance_System___ITI.Models.Department

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<style>
    .list-item {
  margin-left: 5%;
  width: 15%
}
dt {
  margin-top: 1em;
}
</style>
<div class="bg-contact3" style="background-image: url('@Url.Content("~/assets/images/slide-01.jpg")');">
    <div class="container-contact3">
        <div class="wrap-contact3" style="background:white">
            <span class="contact3-form-title" style="color:black">
                Departments's Details
            </span>
            <hr />
            <dl class="row list-item">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Manger)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Manger.Name)
                </dd>
            </dl>
            <hr />
            <div class="justify-content-center align-items-center" style="background:rgba(255,255,255,0.8)">
                <div class="container-contact3-form-btn">
                    <form>
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="contact3-form-btn" style="background:#2BCAA5">Edit</a>
                        <a asp-action="Index" class="contact3-form-btn" style="background:#2BCAA5">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




















