@model IEnumerable<Attendance_System___ITI.Models.Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<select>
    <option value="Attend">Attend</option>
    <option value="leave">Leave</option>
</select>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-action="Attend" asp-route-id="@item.Id">Attend</a>
            </td>
        </tr>

}
@foreach (var s in ViewBag.Attended)
            {
              
            <tr>
            <td>
               @s.Student.Name
            </td>

            <td>
                <a asp-action="Leave" asp-route-id="@s.StudentId">Leave</a>
            </td>
        </tr>
            }
    </tbody>
</table>
