@page
@model Attendance_System___ITI.Pages.ChatRoomModel
@{
}
<div class="container">
    <h3 class=" mt-3 text-center">Students Chat Room</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat" id="inboxChat">
                    @* <div class="chat_list active_chat"> *@
                    @*     <div class="chat_people"> *@
                    @*         <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> *@
                    @*         <div class="chat_ib"> *@
                    @*             <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5> *@
                    @*             <p> *@
                    @*                 Test, which is a new approach to have all solutions *@
                    @*                 astrology under one roof. *@
                    @*             </p> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@
                    @if (Model.ShortMessagesList != null)
                    {
                        @foreach (var msg in Model.ShortMessagesList)
                        {
                                    <div class="chat_list">
                                        <div class="chat_people">
                                            <div class="chat_img">
                                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                            </div>
                                            <div class="chat_ib">
                                                <h5>
                                            @msg.Sender <span class="chat_date">@msg.Date | @msg.ArriveTime</span>
                                                </h5>
                                                <p>
                                            @msg.Text
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                        }
                    }





                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" id="msg_history">
                    @if (Model.LongMessagesList != null)
                    {
                        @foreach (var msg in Model.LongMessagesList)
                        {
                            if (msg.Sender != Model.TheSender)
                            {
                                            <div class="incoming_msg">
                                                <div class="incoming_msg_img">
                                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                                </div>
                                                <div class="received_msg">
                                                    <div class="received_withd_msg">
                                                        <p>
                                                @msg.Sender : @msg.Text
                                                        </p>
                                                        <span class="time_date"> @msg.ArriveTime | @msg.Date</span>
                                                    </div>
                                                </div>
                                            </div>
                            }
                            else
                            {
                                            <div class="outgoing_msg">
                                                <div class="sent_msg">
                                                    <p>
                                            @msg.Text
                                                    </p>
                                                    <span class="time_date"> @msg.ArriveTime | @msg.Date</span>
                                                </div>
                                            </div>
                            }
                        }
                    }



                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" id="msgTxt" />
                        <button class="msg_send_btn" type="button" onclick="sendMessage()">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts{
        <script src="~/microsoft-signalr/signalr.js"></script>
        <script>
            let con = new signalR.HubConnectionBuilder().withUrl("/chathub").build();


            // Start Connection
            con.start();

            // Subscribe
            con.on('iSentMessage', function(msg, sender, date, time) {
                const msgDiv = document.getElementById("msg_history");
                let insideHtml = msgDiv.innerHTML;
                let newHtml = ` <div class="outgoing_msg">
                                                                                       <div class="sent_msg">
                                                                                           <p>
                                                                                               ${msg}
                                                                                           </p>
                                                                                           <span class="time_date"> ${time}    |    ${date}</span>
                                                                                       </div>
                                                                                   </div> `;
                msgDiv.innerHTML = newHtml + insideHtml;

            })
            con.on('someoneSentMessage', function(msg, sender, date, time) {
                let msgDiv = document.getElementById("msg_history");
                let insideHtml = msgDiv.innerHTML;

                let newHtml = ` <div class="incoming_msg">
                                                                                                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                                                                  <div class="received_msg">
                                                                                                      <div class="received_withd_msg">
                                                                                                          <p>
                                                                                                             ${sender} : ${msg}
                                                                                                          </p>
                                                                                                           <span class="time_date"> ${time}    |    ${date}</span>
                                                                                                      </div>
                                                                                                  </div>
                                                                                              </div>`;
                msgDiv.innerHTML = newHtml + insideHtml;

            })

            con.on('addmsg', function(msg, sender, date,time) {
                let msgDiv = document.getElementById("inboxChat");
                let insideHtml = msgDiv.innerHTML;
                let newHtml = `<div class="chat_list">
                                                                                                               <div class="chat_people">
                                                                                                                   <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                                                                                   <div class="chat_ib">
                                                                                                                       <h5>${sender} <span class="chat_date">${date} | ${time}</span></h5>
                                                                                                                       <p>
                                                                                                                          ${msg}
                                                                                                                       </p>
                                                                                                                   </div>
                                                                                                               </div>
                                                                                                           </div>`;
                msgDiv.innerHTML = newHtml + insideHtml;


            })


            // Invoke
            function sendMessage() {
                if (document.getElementById('msgTxt').value != '') {
                    con.invoke('sendmessage', document.getElementById('msgTxt').value);
                }
            }

        </script>


}